<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Fermín González</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="bienvenida">Bienvenida</a>
        </li>
        <li *ngIf="!(loggedUser | async)" class="nav-item">
          <a class="nav-link active" routerLink="login">Login</a>
        </li>
        <!-- Add more nav items as needed -->

        <li  *ngIf="loggedUser | async as user" class="nav-item">
          <a class="nav-link active" routerLink="repartidor/alta">Alta repartidor</a>
        </li>

        <li  *ngIf="loggedUser | async as user" class="nav-item">
          <a class="nav-link active" routerLink="repartidor/detalle">Detalle repartidor</a>
        </li>

        <li *ngIf="loggedUser | async as user" class="nav-item">
          <a class="nav-link active" routerLink="pizzas">Salen pizzas</a>
        </li>

        <li  class="nav-item">
          <a
            *ngIf="loggedUser | async as user"
            class="btn btn-danger"
            (click)="logout()"
          >
            Cerrar sesión
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
