<ul *ngIf="repartidorSeleccionado">
  <li><strong>DNI:</strong> {{ repartidorSeleccionado.dni }}</li>
  <li><strong>Nombre:</strong> {{ repartidorSeleccionado.nombre }}</li>
  <li><strong>Edad:</strong> {{ repartidorSeleccionado.edad }}</li>
  <li><strong>Capacidad de Transporte:</strong> {{ repartidorSeleccionado.capacidad }}</li>
  <li><strong>Pais de Origen:</strong> {{ repartidorSeleccionado.pais }}</li>
  <li><strong>Unidad Propia:</strong> {{ repartidorSeleccionado.unidadPropia ? 'Sí' : 'No' }}</li>
</ul>
