<body>
  <main>
    <div class="container py-4">
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <app-listado-repartidores
            (repartidorSeleccionado)="onRepartidorSelected($event)"
          ></app-listado-repartidores>
        </div>
      </div>

      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <app-repartidor-seleccionado
              [repartidorSeleccionado]="repartidorSeleccionado"
            ></app-repartidor-seleccionado>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <app-pais-repartidor
              *ngIf="repartidorSeleccionado?.pais"
              [paisRepartidorSeleccionado]="
                repartidorSeleccionado?.pais
              "
            ></app-pais-repartidor>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
